<form action="{% url 'pfsense:add_firewall_rule' %}" method="post">

    {% csrf_token %}

    <h1>Add Firewall Rule</h1>

    <label for="protocol">Protocol: </label>
    <select id="protocol" name="protocol">
        <option value="tcp">TCP</option>
        <option value="udp">UDP</option>
        <option value="tcp/udp">TCP/UDP</option><br /><br />
    </select>
    <label for="destination_port">ID: </label>
    <input type="text" id="destination_port" name="destination_port" /><br /><br />
    <label for="ip_add">ID: </label>
    <input type="text" id="ip_add" name="ip_add" /><br /><br />
    <label for="local_port">ID: </label>
    <input type="text" id="local_port" name="local_port" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'pfsense:edit_firewall_rule' %}" method="post">

    {% csrf_token %}

    <h1>Edit Firewall Rule</h1>

    <label for="id">ID: </label>
    <input type="text" id="id" name="id" /><br /><br />
    <label for="ip_add">IP Add: </label>
    <input type="text" id="ip_add" name="ip_add" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />

<form action="{% url 'pfsense:delete_firewall_rule' %}" method="post">

    {% csrf_token %}

    <h1>Delete Firewall Rule</h1>

    <label for="id">ID: </label>
    <input type="text" id="id" /><br /><br />

    <input type="submit" value="submit" />
</form>

<hr />