---
- name: netdata basic config
  hosts: "{{ hosts.host }}"
  vars:
    hostname: "{{ hosts.hostname }}"
    label: "{{ hosts.label }}"
  tasks:
    - name: Create a file and write content
      ansible.builtin.copy:
        dest: /etc/netdata/netdata.conf
        content: |
          [global]
            hostname = {{ hostname }}
            label = {{ label }}
  loop: "{{ hosts }}"
